.home-page {
    width: 100%;
    height: auto;
}

/** <======== STATISTICS ========> */

.home-page .static-frame {
    width: 100%;
    height: 236px;
    background-color: #343434;
}

.home-page .static-frame .info {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-page .static-frame .info .static-box{
    width: 200px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page .static-frame .info .static-box .static-num {
    text-align: center;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    color: #d7b686;
}

.home-page .static-frame .info .static-box .static-text {
    color: #d7b586;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}